<!--header med bakåtknapp-->
<ion-header-bar class="bar-dark">
    <a href="#/tab/roomlist" 
    class="button button-icon ion-chevron-left button-clear">
    </a>
</ion-header-bar>
<!--ng-repeat som filterar fram whichRoom-->
<!--Filter i price, gör currency sek-->
<ion-view>
    <ion-content class="color" ng-controller="ListController">
        <ion-list class="list-inset">
            <ion-item ng-repeat="item in rooms| filter: {roomPic : whichRoom}" 
            class="item-text-wrap">
                <img ng-src="img/{{item.roomPic}}.jpg" 
                alt="image of{{item.roomPic}}" 
                class="goodSizePic">
                <h2>{{item.roomName}}</h2>
                <p>{{item.price| currency : "SEK"}}</p>
                <p>{{item.roomDescription}}</p>
                <a href="#/tab/userinput" class="button button-dark button-block" ng-click="roomfunction(item)">Boka rum</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>