<ion-tabs class="tabs-icon top tabs-dark">
    <!-- tab för startsida-->
    <ion-tab icon="ion-home"
    href="#/tab/startpage">
    <ion-nav-view name="startpage-tab"></ion-nav-view>
    </ion-tab>

    <!-- tab för lista med rummen-->
    <ion-tab disabled="true"
    href="#/tab/roomlist">
    <ion-nav-view name="roomlist-tab"></ion-nav-view>
    </ion-tab>

    <!-- tab för bokning-->
    <ion-tab disabled="true"
    href="#/tab/reserve">
    <ion-nav-view name="reserve-tab"></ion-nav-view>
    </ion-tab>
        
    <!-- tab för inloggning-->
    <ion-tab disabled="true"
    href="#/tab/userinput">
    <ion-nav-view name="userinput-tab"></ion-nav-view>
    </ion-tab>

<!-- tab för confirmation-->
    <ion-tab disabled="true"
    href="#/tab/confirmation">
    <ion-nav-view name="confirmation-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>